*{
    margin: 0;
    padding: 0;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    text-align: center;
    height: 125px;
    font-size: 60px;
}