<app-header></app-header>
<div class="navigation">
    <div></div>
    <div class="item-grid">
        <div>
            <strong>
                <p style="font-size: 1.3rem;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consectetur minus fugiat,
                    perspiciatis magnam, quisquam nisi aliquid reprehenderit laboriosam labore ipsam, eveniet provident
                    laborum molestiae voluptatum. Fugit asperiores accusantium quas mollitia molestiae voluptatem cumque
                    quis, est ad vel quasi velit pariatur, quod, tempore natus ratione unde culpa numquam deserunt
                    assumenda eveniet enim nemo sed quisquam. Tempora expedita et magnam, quam unde reiciendis
                    dignissimos! Voluptatum atque id hic quia ullam? Quidem, illo facilis facere possimus, commodi
                    officia culpa error tempora sequi autem saepe et totam nesciunt? Tempora placeat explicabo
                    repudiandae!
                </p>
            </strong>
        </div>
        <div class="btn-item">
            <button routerLink="/login">
                Login
            </button>
            <button routerLink="/register">
                Sign up
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>